In [1]:
import pandas as pd

my_dict = {"bbox/AP": 94.2903683094904, "bbox/AP50": 98.98667450189714, "bbox/AP75": 98.69820295885981, "bbox/APl": 95.84667940250075, "bbox/APm": 76.42330696392958, "bbox/APs": 35.362140580750456, "iteration": 6000, "segm/AP": 87.82606460471648, "segm/AP50": 98.99017079911181, "segm/AP75": 97.9859531488177, "segm/APl": 89.22457258638195, "segm/APm": 66.80171753185519, "segm/APs": 27.88324825135563}
df = pd.DataFrame(list(my_dict.items()),columns = ['metric','value'])

In [3]:
df

       metric        value
0     bbox/AP    94.290368
1   bbox/AP50    98.986675
2   bbox/AP75    98.698203
3    bbox/APl    95.846679
4    bbox/APm    76.423307
5    bbox/APs    35.362141
6   iteration  6000.000000
7     segm/AP    87.826065
8   segm/AP50    98.990171
9   segm/AP75    97.985953
10   segm/APl    89.224573
11   segm/APm    66.801718
12   segm/APs    27.883248

In [2]:
yolact = {"elapsed": 35.66419434547424, "epoch": 17, "iter": 60000, "box": {"all": 78.57, "50": 97.64, "55": 96.73, "60": 96.7, "65": 95.69, "70": 94.52, "75": 91.14, "80": 84.71, "85": 72.4, "90": 47.71, "95": 8.44}, "mask": {"all": 90.73, "50": 97.77, "55": 97.76, "60": 97.74, "65": 97.73, "70": 97.71, "75": 97.69, "80": 96.74, "85": 95.43, "90": 90.77, "95": 37.94}}

In [3]:
yolact["box"]
yolact["mask"]
yb = pd.DataFrame(list(yolact["box"].items()),columns = ['metric','value']) 
ym = pd.DataFrame(list(yolact["mask"].items()),columns = ['metric','value'])

In [4]:
yb

   metric  value
0     all  78.57
1      50  97.64
2      55  96.73
3      60  96.70
4      65  95.69
5      70  94.52
6      75  91.14
7      80  84.71
8      85  72.40
9      90  47.71
10     95   8.44

In [5]:
ym

   metric  value
0     all  90.73
1      50  97.77
2      55  97.76
3      60  97.74
4      65  97.73
5      70  97.71
6      75  97.69
7      80  96.74
8      85  95.43
9      90  90.77
10     95  37.94